.weather-app {
  border: 2px solid lightgrey;
  margin: 15px auto;
  max-width: 600px;
}
.cities {
  margin: 20px;
  font-family: "Kanit", sans-serif;
}
ul {
  list-style: none;
}
.paris {
  font-size: 25px;
  font-family: "Kanit", sans-serif;
  margin: 15px;
}
.date-time {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
  margin: 15px;
}
.temperature {
  margin: 15px;
  position: relative;
  top: -13px;
  right: -31px;
  font-size: 21px;
}
img {
  width: 25px;
}
.wind {
  font-family: "Kanit", sans-serif;
  position: relative;
  top: 38px;
  left: 80px;
}

.days {
  font-family: "Kanit", sans-serif;
}

.emoji,
.days,
.next-days-temperature {
  margin: 15px;
}
